
.App {
    text-align: center;
}

#buttons {
    margin: 20px;
}

#diceBox {
    display: flex;
    width: 280px;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
}

.dieSquare {
    border: 1px solid lightgrey;
    width: 50px;
    height: 50px;
    margin: 2px;
    line-height: 50px;
}